@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url(../IMG/background.jpg);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
img {
    left: 42px;
    top: -10px;
    position: relative;
    width: 45px;
    display: inline-block;
    align-items: center;
}
img a:hover {
    background-color: #111;
}
ul {
    height: 10%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 10px 50px -30px black;
    background-color: rgba(78, 78, 78, 0.486);
}
li {
    text-align: center;
    text-transform: none;
    top: -8px;
    left: 800px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: relative;
}
li a {
    display: inline;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50% 16px;
    text-decoration: none;
}
li a:hover {
    scale: .85;
    background-color: rgb(223, 223, 223);
}
a:link, a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    scale: .85;
}
.titlePage {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 80px;
    position: absolute;
    text-transform: none;
    display: inline-block;
    top: 5px;
    color: rgb(0, 0, 0);
}
.iconFish {
    width: 4%;
    position: fixed;
    left: 15px;
    display: inline-block;
    top: 3px;
    cursor: pointer;
}
.login {
    text-align: center;
    text-transform: none;
    top: 15px;
    left: 820px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: relative;
}