@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: rgb(211,209,254);
    background: linear-gradient(73deg, rgba(211,209,254,1) 22%, rgba(238,254,252,1) 49%, rgba(0,212,255,1) 100%);
    flex-wrap: wrap;
    position: relative;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.loginCard {
    box-shadow: 0 10px 50px -30px black;
    background-color: rgba(82, 82, 82, 0.575);
    display: grid;
    align-items: center;
    left: 500px;
    top: 190px;
    position: absolute;
    justify-content: center;
    width: 800px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    min-height: 80%;
    min-width: 50%;
    grid-template-columns: auto auto;
    background-size: cover;
}
.column {
    padding: 4px;
}
img {
    left: 700px;
    top: 0px;
    position: relative;
    width: 60px;
    display: inline-block;
    align-items: center;
}
img a:hover {
    background-color: #111;
}
ul {
    top: 80px;
    height: 10%;
    width: 100%;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 10px 50px -30px black;
    background-color: rgba(82, 82, 82, 0.575);
}
li {
    text-align: center;
    text-transform: none;
    top: 35px;
    left: 800px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: relative;
}
li a {
    display: inline;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50% 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(223, 223, 223);
}
a:link, a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.titlePage {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 80px;
    position: absolute;
    text-transform: none;
    display: inline-block;
    top: 15px;
    color: rgb(0, 0, 0);
}
.iconFish {
    width: 2.6%;
    position: fixed;
    left: 15px;
    display: inline-block;
    top: 15px;
    cursor: pointer;
}
.singUp {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s;
    font-weight: 600;
    position: relative;
    align-items: center;
    text-align: center;
    left: 0px;
}
.singUp:hover {
    scale: .95;
    background-color: darken(black, 20%);
}
button {
    border: none;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    height: 7%;
    font-size: 16px;
    font-weight: 530;
    transition: all .2s;
    cursor: pointer;
}
button:hover {
    scale: 0.95;
    background-color: darken(black, 20%);
}
h1, h2 {
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.formElement {
    width: 100%;
    border: none;
    background-color: white;
    padding: 20px 30px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: box-shadow .2s;
}
.formElement:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
}